<div class="container">
  <div class="row">
    <div class="col">
      <div class="card w-50">
        <img src="<%= @evento.imagen %>" class="card-img-top" alt="Imagen del evento">
        <div class="card-body">
          <h5 class="card-title"><%= @evento.nombre %></h5>
          <p class="card-text"><%= @evento.descripcion %></p>
          <p class="card-text">Fecha: <%= @evento.fecha %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="mt-5">Registro</h2>
  <%= render 'reservas/formulario_registro', reserva: @reserva %>
</div>